<body id="page-top">
  <app-navbar-admin></app-navbar-admin>
  <div id="wrapper">
    <app-sidebar-admin></app-sidebar-admin>
    <div id="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/admin">Admin</a>
          </li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>
      </div>
      <div class="col col-lg-8 col-md-8">

        <form class="change-pwd" #changePasswordForm="ngForm">
          <div class="form-group">
            <label class="input-label" for="newPass">New Password</label>
            <input class="form-control" [(ngModel)]="newPassword" name="newPassword" id="password" type="Password" #newPasswordRef="ngModel" required minlength="6">
          </div>

          <div *ngIf="newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)" class="alert alert-danger validation-err" >
            <div *ngIf="newPasswordRef.errors.required">
                * Password is required.
            </div>

            <div *ngIf="newPasswordRef.errors.minlength">
                Password must be at least 6 characters long.
            </div>
          </div>

          <div class="form-group">
            <label class="input-label" for="cfnewpass">Confirm Password</label>
            <input class="form-control" name="confirmPassword" id="repassword" [(ngModel)]="confirmPassword" #confirmPasswordRef="ngModel" type="Password" appMatchingValidator="newPassword"  required >
          </div>


          <div *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)" class="alert alert-danger" >
             <div *ngIf="confirmPasswordRef.errors?.mismatch">
                Passwords do not match
              </div>
              <div *ngIf="confirmPasswordRef.errors.required">
                * Confirming password is required.
            </div>
          </div>

          <button [disabled]="changePasswordForm.invalid" id="saveForm" class="btn btn-primary" (click)="submit(); changePasswordForm.reset(); ">Submit</button>

          <!-- <button class="btn btn-primary">Submit</button> -->
        </form>
        </div>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
