<!-- DataTables Example -->
<div class="card mb-1">
  <!-- <div class="card-header">
    <i class="fas fa-table"></i>
    Data Table Example</div> -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Code</th>
            <th>Email</th>
            <th>Name</th>
            <th>Booking From</th>
            <th>Booking To</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>

          <tr *ngFor="let reservation of listReservations" >
            <td>{{reservation.code}}</td>
            <td>{{reservation.customerEmail}}</td>
            <td>{{reservation.customerName}}</td>
            <td>{{reservation.getBookingFrom()}}</td>
            <td>{{reservation.getBookingTo()}}</td>
            <td>{{reservation.checkin}}</td>
            <td>{{reservation.checkout}}</td>
            <td>{{reservation.status}}</td>
            <td>{{reservation.total}}</td>
            <td><button class="btn btn-danger" *ngIf="reservation.status == 'BOOKING'" data-toggle="modal" data-target="#exampleModal" (click)="selectedBookingCode = reservation.code">Cancel</button></td>
          </tr>
          
        </tbody>
      </table>

      <nav aria-label="Page navigation example" class="pull-right">
        <ul class="pagination">
          <li class="page-item"><a class="page-link">Previous</a></li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        Are you sure you want to cancel this reservation?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" (click)="cancel()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>


</div>
<!-- End Modal -->
  
</div>
