<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="room-wrap">
        <a class="room-img" [ngStyle]="{'background-image': room.img}"></a>
        <div class="text p-4">
          <div class="d-flex">
            <div class="one-third">
              <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span
                  class="icon-star"></span><span class="icon-star-half-full"></span></p>
              <h3><a>{{room.name}}</a></h3>
            </div>
            <div class="one-forth text-center">
              <p class="price">${{room.price}} <br><span>/night</span></p>
            </div>
          </div>
          <p class="features">
            <span class="d-block mb-2" *ngFor="let option of room.options"><i class="icon-check mr-2"></i> {{option}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row d-flex">
        <div class="col-md-12">
          <form action="#">
            <h2 class="mb-4">Contact Details</h2>
            <div class="row mb-5">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Email</label>
                  <input type="text" name="email" [disabled]="reservation.code || !isStaff" [ngModel]="reservation.customerEmail"
                    class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" [disabled]="reservation.code" name="name" [(ngModel)]="reservation.customerName"
                    placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div *ngIf="errorMessage" style="color: red"> {{errorMessage}} </div>
              <div class="col-md-12">
                <h2 class="mb-4">Booking Details - {{reservation.code}}</h2>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="check-in">Booking From:</label>
                  <input type="text" id="checkin_date" name="bookingFrom" disabled [value]="reservation.bookingFrom.toLocaleDateString()"
                    class="form-control" placeholder="YYYY/MM/DD">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="check-out">Booking To:</label>
                  <input type="text" id="checkout_date" name="bookingTo" disabled [value]="reservation.bookingTo.toLocaleDateString()"
                    class="form-control" placeholder="YYYY/MM/DD">
                </div>
              </div>
              <div class="col-md-6" *ngIf="reservation.code">
                <div class="form-group">
                  <label for="check-in">Check-in Time:</label>
                  <input type="text" id="checkin_date_time" name="bookingFrom" disabled [value]="reservation.getTimeFormatCheckin()"
                    class="form-control" placeholder="YYYY/MM/DD">
                </div>
              </div>
              <div class="col-md-6" *ngIf="reservation.code">
                <div class="form-group">
                  <label for="check-out">Check-out time:</label>
                  <input type="text" id="checkout_date_time" name="bookingTo" disabled [value]="reservation.getTimeFormatCheckout()"
                    class="form-control" placeholder="YYYY/MM/DD">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="check-in">Status:</label>
                  <select [disabled]="!isStaff" class="form-control" name="status" [(ngModel)]="reservation.status">
                    <option value="CANCELLED">Đã Hủy</option>
                    <option value="BOOKING">Đang Đặt</option>
                    <option value="CHECK-IN">Đã Check-in</option>
                    <option value="FINISHED">Hoàn Thành</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="check-out">Total:</label>
                  <input type="text" id="total" name="bookingTo" disabled [value]="reservation.total? reservation.total : reservation.getTotal() * room.price | currency"
                    class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="center">
      <button class="btn btn-primary" *ngIf="reservation.code" (click)="update()" style="margin-right: 10px">Update</button>
      <button class="btn btn-primary" *ngIf="!reservation.code" (click)="booking()" style="margin-right: 10px">Booking</button>
      <button class="btn btn-blue" style="margin-left: 10px" (click)="dialogRef.close()">cancel</button>
    </div>
  </div>
</div>
