<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/reservations">
        <i class="fas fa-fw fa-table"></i>
        <span>Reservations</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/staff">
        <i class="fas fa-fw fa-table"></i>
        <span>Staffs</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/password">
        <i class="fas fa-fw fa-table"></i>
        <span>Change password</span></a>
    </li>
  </ul>
  <!-- /.content-wrapper -->

</div>
