.date-input {
    margin-top: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row;
}
.date-chosen {
    margin-left: 10px;
    margin-right: 10px;
}
.analyze-btn {
    display: block;
    margin-bottom: 30px;
    margin-left: 10px;
}