<app-slider></app-slider>

<section class="ftco-section room-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Our Rooms</span>
        <h2>Explore our rooms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate" *ngFor="let item of listRoom; let last = last;">
        <app-room [room]="item" [isLast]="last"></app-room>
      </div>
    </div>
  </div>
</section>

<app-instagram></app-instagram>
