.content-w3ls {
  margin: 0;
}

mat-dialog-container.mat-dialog-container {
  padding: 0 !important;
}

.close {
  position: absolute;
  top: -6px;
  left: 7px;
  color: red;
  font-size: 2.5em;
  outline: none;
}
