/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-global-overlay-wrapper {
  pointer-events: auto !important;
  overflow-y: scroll !important;
}

.datepicker.dropdown-menu {
  z-index: 9999999999999;
}

#dataTable tbody tr:nth-child(even) {background: #CCC}
#dataTable tbody tr:nth-child(odd) {background: #FFF}

tr {
  cursor: pointer;
}

.bs-datepicker-container {
  padding: 0
}
