<div id="fh5co-header">
  <header id="fh5co-header-section">
    <div class="container">
      <div class="nav-header">
        <a class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        <h1 id="fh5co-logo"><a  [routerLink]="['/home']" >Luxe</a></h1>
        <nav id="fh5co-menu-wrap" role="navigation">
          <ul class="sf-menu" id="fh5co-primary-menu">
            <li><a [ngClass]="activeString.includes('/home')?'active': ''" [routerLink]="['/home']" >Home</a></li>
            <li>
              <a  [routerLink]="['/hotel']" [ngClass]="activeString.includes('/hotel')?'active': ''"  class="fh5co-sub-ddown">Hotel</a>
              <ul class="fh5co-sub-menu">
                <li><a>Luxe Hotel</a></li>
                <li><a>Deluxe Hotel</a></li>
                <li>
                  <a class="fh5co-sub-ddown">King Hotel</a>
                  <ul class="fh5co-sub-menu">
                    <li><a>Build</a></li>
                    <li><a>Work</a></li>
                    <li><a>Light</a></li>
                    <li><a>Relic</a></li>
                    <li><a>Display</a></li>
                    <li><a>Sprint</a></li>
                  </ul>
                </li>
                <li><a>Five Star Hotel</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/services']" [ngClass]="activeString.includes('/services')?'active': ''" >Services</a></li>
            <li><a [routerLink]="['/blog']" [ngClass]="activeString.includes('/blog')?'active': ''">Blog</a></li>
            <li><a [routerLink]="['/contact']" [ngClass]="activeString.includes('/contact')?'active': ''">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

</div>
