<nav *ngIf="!activeString.includes('/login')" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Cozy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rooms" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Rooms</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" routerLink="/rooms">Rooms</a>
            <a class="dropdown-item" routerLink="/rooms">Superior Room Twin</a>
            <a class="dropdown-item" routerLink="/rooms">Premier Suite</a>
            <a class="dropdown-item" routerLink="/rooms">Family Room</a>
          </div>
        </li>
        <li class="nav-item"><a routerLink="/services" class="nav-link">Amenities</a></li>
        <li class="nav-item"><a routerLink="/booking" class="nav-link">Booking</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
